*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 60px;
}

.list-items{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;

}

.btn{
    border: 1px solid #2563EB;
    background-color: #2563EB;
    color: white;
    margin: 0 60px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.hero{
    text-align: center;
    background-image: url(./assets/banner.jpg);
    background-size: cover;
    height: 800px;
    background-position: center;
    margin: 20px 0;
}
.hero-contents{
    position: relative;
    top: 20%;
    color: white;
    font-family:  sans-serif;

}
.hero h1{
    font-size: 50px;
}

.hero-contents p{
    text-align: center;
    margin: 20px 0;
}

.hero-contents button{
    position: relative;
    top: 250px;
    height: 50px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    
    
}
.hero-contents button:hover{
    background-color: #1E40AF;
    opacity: 0.8;
}

.Speakers{
    margin: 50px 80px;
    
}

.Speakers h1{
    /* align-items: center; */
    text-align: center;
    margin: 30px 0;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;

    
}
.cards{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

}
.info{
   display: flex;
   flex-direction: column;
   height: 400px;
   width: 500px;
   margin: 20px 0;
   padding: 20px;
   border: 1px solid #E5E7EB;
}
.sector{
    font-size: 13px;
    font-weight: 200;
    color: #2563EB;
    margin: 10px 0;
}
.name{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}
.place{
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    margin: 10px 0;
}

